Repository ianzone/react-dashboard: changes, and which lefthook commands are due for each by the changed paths.
All: typescript, stylelint, biome, test

typescript:
  priority: 2
  run: pnpm tsc --noEmit

stylelint:
  priority: 3
  run: pnpm stylelint --fix {staged_files}

biome:
  priority: 4
  run: pnpm biome check --fix {staged_files}

test:
  priority: 5
  run: pnpm vitest related --run

style: 💄 system theme
  biome.json
  src/contexts/UIProvider.tsx
  src/hooks/index.ts
  src/hooks/useTheme.ts
Due: typescript, biome

refactor: 💡 remove unused
  src/containers/MyContainer/MyContainer.tsx
  src/containers/MyContainer/index.ts
  src/containers/index.ts
  src/hooks/index.ts
  src/hooks/useCounter.test.ts
  src/hooks/useCounter.ts
  src/pages/Home/Home.tsx
Due: typescript, biome, test

feat: 🎸 downloads
  package.json
  pnpm-lock.yaml
  public/app_store.svg
  public/google_play.svg
  public/linux.svg
  public/macos.svg
  public/windows.svg
  src/components/Figure.tsx
  src/hooks/useTheme.ts
  src/layouts/Dashboard/DashboardLayout.tsx
  src/layouts/Dashboard/Header/Downloads.tsx
  src/layouts/Dashboard/Header/Header.tsx
Due: typescript, biome

refactor: 💡 downloads
  src/hooks/useTheme.ts
  src/layouts/Dashboard/Header/Downloads.tsx
Due: typescript, biome

refactor: 💡 header
  package.json
  pnpm-lock.yaml
  src/layouts/Dashboard/Header/Avatar.tsx
  src/layouts/Dashboard/Header/Header.tsx
  src/layouts/Dashboard/Header/Left/HeaderLeft.tsx
  src/layouts/Dashboard/Header/Right/HeaderRight.tsx
  src/layouts/Dashboard/Header/Right/Links/Downloads.tsx
  src/layouts/Dashboard/Header/Right/Links/Links.tsx
  src/layouts/Dashboard/Header/Right/Profile/Profile.tsx
  src/layouts/Dashboard/Header/Right/Widgets/Notifications.tsx
  src/layouts/Dashboard/Header/Right/Widgets/Theme.tsx
  src/layouts/Dashboard/Header/Right/Widgets/Widgets.tsx
Due: typescript, biome

refactor: 💡 Figure
  src/assets/preset/logo.svg
  src/components/Figure.tsx
  src/components/Typography.tsx
  src/components/index.ts
  src/layouts/Dashboard/DashboardLayout.tsx
  src/layouts/Dashboard/Header/Right/Links/Downloads.tsx
  src/layouts/Dashboard/Sider/MenuList.tsx
  src/layouts/Dashboard/Sider/Sider.tsx
  src/layouts/Sign/SignLayout.tsx
Due: typescript, biome

chore: 🤖 pkg update
  README.md
  biome.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/components/Card.tsx
  src/components/Grid.tsx
  src/components/Selector.tsx
  src/components/index.ts
  src/contexts/UIProvider.tsx
  src/layouts/Dashboard/DashboardLayout.tsx
  src/layouts/Dashboard/Header/Right/Widgets/Notifications.tsx
  src/pages/Account/Account.tsx
  src/pages/Home/Home.tsx
  src/pages/Home/styles.module.css
Due: typescript, stylelint, biome

style: 💄 html height
  package.json
  pnpm-lock.yaml
  src/contexts/UIProvider.tsx
  src/main.tsx
  src/routes/__root.tsx
  src/styles/index.css
Due: typescript, stylelint, biome

chore: 🤖 pkg update
  package.json
  pnpm-lock.yaml
Due: biome

fix: 🐛 chart init height
  README.md
  package.json
  pnpm-lock.yaml
  src/components/Card.tsx
  src/pages/Home/Home.tsx
Due: typescript, biome

chore: 🤖 pkg update
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: typescript, biome

refactor: 💡 ant flex to box
  README.md
  package.json
  pnpm-lock.yaml
  src/components/Box.tsx
  src/components/Card.tsx
  src/components/Layout.tsx
  src/components/index.ts
  src/layouts/Dashboard/DashboardLayout.tsx
  src/layouts/Sign/SignLayout.tsx
  src/pages/NotFound.tsx
  src/routes/__root.tsx
Due: typescript, biome

chore: 🤖 pkg update
  .stylelintrc
  README.md
  lefthook.yml
  package.json
  pnpm-lock.yaml
  src/routes/_dashboard.tsx
  src/services/auth.ts
  vite.config.ts
Due: typescript, biome

refactor: 💡 root layout
  src/layouts/RootLayout.tsx
  src/layouts/index.ts
  src/pages/NotFound.tsx
  src/routes/__root.tsx
  src/services/auth.ts
Due: typescript, biome

style: 💄 spinner color
  src/routes/_dashboard.tsx
Due: typescript, biome

chore: 🤖 biome
  biome.json
  src/routes/_dashboard.tsx
Due: typescript, biome

chore: 🤖 biome format
  src/routes/_dashboard.tsx
Due: typescript, biome

refactor: 💡 spinner
  src/components/Spinner.tsx
  src/components/index.ts
  src/contexts/UIProvider.tsx
  src/layouts/RootLayout.tsx
  src/layouts/index.ts
  src/routes/__root.tsx
  src/routes/_dashboard.tsx
Due: typescript, biome

refactor: 💡 spinner
  src/components/Spinner.tsx
  src/contexts/UIProvider.tsx
  src/routes/__root.tsx
  src/routes/_dashboard.tsx
Due: typescript, biome

docs: ✏️ ref
  README.md
Due: none

chore: 🤖 pkg update
  bun.lockb
  package.json
  pnpm-lock.yaml
Due: biome

chore: 🤖 pkg update
  package.json
Due: biome

refactor: 💡 useTheme
  bun.lockb
  package.json
  src/contexts/UIProvider.tsx
  src/hooks/useTheme.ts
Due: typescript, biome

refactor: 💡 useTheme
  src/contexts/UIProvider.tsx
  src/hooks/useTheme.ts
Due: typescript, biome

test: 💍 useTheme
  bun.lockb
  package.json
  src/hooks/useTheme.test.ts
  src/hooks/useTheme.ts
Due: typescript, biome, test

chore: 🤖 githooks
  lefthook.yml
  src/hooks/useTheme.test.ts
  src/pages/Home/Home.tsx
Due: typescript, biome, test

chore: 🤖 add gitleaks
  biome.json
  bun.lockb
  lefthook.yml
  package.json
Due: biome

chore: 🤖 gitleaks
  lefthook.yml
Due: none

test: 💍 usetheme
  bun.lockb
  lefthook.yml
  package.json
  src/hooks/useTheme.ts
Due: typescript, biome

feat: 🎸 useDashboardRoutes
  bun.lockb
  package.json
  src/hooks/index.ts
  src/hooks/useDashboardRoutes.ts
  src/layouts/Dashboard/Header/Left/HeaderLeft.tsx
  src/layouts/Dashboard/Sider/MenuList.tsx
  src/routes/README.md
Due: typescript, biome

refactor: 💡 useDashboardRoutes
  src/hooks/useDashboardRoutes.ts
  src/layouts/Dashboard/Header/Left/HeaderLeft.tsx
  src/layouts/Dashboard/Sider/MenuList.tsx
Due: typescript, biome

chore: 🤖 pkg update
  bun.lockb
  lefthook.yml
  package.json
  tsconfig.json
Due: biome

feat: 🎸 appgallery download
  bun.lockb
  package.json
  public/AppGallery.svg
  public/AppStore.svg
  public/GooglePlay.svg
  public/Linux.svg
  public/Windows.svg
  public/macOS.svg
  src/layouts/Dashboard/Header/Right/Links/Downloads.tsx
Due: typescript, biome

feat: 🎸 before react19
  biome.json
  bun.lockb
  package.json
  src/components/Card.tsx
  src/components/Layout.tsx
  src/components/Spinner.tsx
  src/components/index.ts
  src/contexts/AppProvider.tsx
  src/contexts/UIProvider.tsx
  src/hooks/index.ts
  src/hooks/useTheme.test.ts
  src/hooks/useTheme.ts
  src/layouts/Dashboard/DashboardLayout.tsx
  src/layouts/Dashboard/Header/Left/HeaderLeft.tsx
  src/layouts/Dashboard/Header/Right/Profile/Profile.tsx
  src/layouts/Dashboard/Header/Right/Widgets/Theme.tsx
  src/layouts/Layout.tsx
  src/layouts/Sign/SignLayout.tsx
  src/pages/Home/Home.tsx
  src/pages/Sign/SignIn/SignInPhone.tsx
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/_dashboard.tsx
  src/utils/getCoords.ts
  src/utils/getLocale.ts
  src/utils/getRegion.ts
  src/utils/index.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  vitest.config.ts
Due: typescript, biome, test

chore: 🤖 stay with react18
  bun.lockb
  lefthook.yml
  package.json
  src/components/Card.tsx
Due: typescript, biome

feat: 🎸 antd-enhanced
  bun.lockb
  package.json
  src/layouts/Dashboard/DashboardLayout.tsx
  src/layouts/Layout.tsx
  src/layouts/Sign/SignLayout.tsx
  src/pages/Calendar/Calendar.tsx
  src/pages/Calendar/index.ts
  src/pages/Chat/Chat.tsx
  src/pages/Chat/ChatList/ChatList.tsx
  src/pages/Chat/ChatList/Toolbar/Search.tsx
  src/pages/Chat/ChatRoom/ChatBox/ChatBox.tsx
  src/pages/Chat/ChatRoom/ChatBox/Message/Message.tsx
  src/pages/Chat/ChatRoom/ChatRoom.tsx
  src/pages/Chat/ChatRoom/Editor/Editor.tsx
  src/pages/Chat/ChatRoom/Editor/Toolbar/index.ts
  src/pages/Chat/ChatRoom/Header/Header.tsx
  src/pages/Chat/image.png
  src/pages/Chat/index.ts
  src/pages/Files/Files.tsx
  src/pages/Files/index.ts
  src/pages/index.ts
  src/routeTree.gen.ts
  src/routes/_dashboard/account.tsx
  src/routes/_dashboard/calendar.tsx
  src/routes/_dashboard/chat.tsx
  src/routes/_dashboard/files.tsx
  src/routes/_dashboard/index.tsx
Due: typescript, biome

chore: 🤖 pkg update
  biome.json
  bun.lockb
  package.json
  src/routeTree.gen.ts
Due: typescript, biome

Path conditions:
  typescript: any of: *.{ts,tsx}
  stylelint: any of: *.{css,scss}
  biome: any of: *.{ts,tsx,js,jsx,json,jsonc,css}
  test: any of: *.{test.ts,test.tsx,spec.ts,spec.tsx}
